@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

h1{
font-family: 'Roboto', sans-serif;
color: black;
font-size: 45px;
}
body{
    background-image: linear-gradient(to right, black, rgb(128, 116, 67), rgb(139, 107, 0));
    color:rgb(139, 107, 0);
}
main{
    background-color: rgb(139, 107, 0);
    padding: 5px;
    margin-left: 700px;
    margin-right: 690px;
    text-align: center;
    border-radius: 10px;
    border-color:rgb(139, 107, 0);
    font-family: 'Roboto', sans-serif;
    font-size: 20px
}
button{ 
    background-color:rgb(139, 107, 0);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.calculos{
    border: 15px;
    padding: 15px;
    background-color: black;
}
input{background-color: rgb(139, 107, 0);
    font-family: 'Roboto', sans-serif;
    height: 20px;
    border-radius: 5px;
}